Cookies
The p5.js Editor uses cookies. Some are essential to the website functionality and allow you to manage an account and preferences. Others are not essential—they are used for analytics and allow us to learn more about our community. We never sell this data or use it for advertising. You can decide which cookies you would like to allow, and learn more in our Privacy Policy.


Allow All

Allow Essential
File
Edit
Sketch
Help
English
Hello, BARATINHAA!



Auto-refresh

pongzada
by BARATINHAA


Sketch Files


i
nde
x
.html

p
5.collide2
d
.js

s
ketc
h
.js

s
tyl
e
.css


style.css
Saved: 14 days ago
1
html, body {
2
  margin: 0;
3
  padding: 0;
4
}
5
canvas {
6
  display: block;
7
}
8
​
There are no lint messages
Current lineline 119

Console
Clear

Preview

